<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Shadab_Customproduct::products" title="Products" sortOrder="10">
					<resource id="Shadab_Customproduct::save" title="Save products" sortOrder="10"/>
					<resource id="Shadab_Customproduct::delete" title="Delete products" sortOrder="20"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Shadab_Customproduct::config" title="Custom Product Settings"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
